; See http://editorconfig.org/ for more information.

; Top-most EditorConfig file
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 2

[*.md]
insert_final_newline = false
